#root {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
}

.container {
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.branch-card {
  border: 1px solid #ccc;
  margin: 8px 0;
  padding: 8px;
  border-radius: 4px;
}
.search-form {
  display: flex;
  gap: 16px;
  align-items: center;
}
.dropdown-list, .submit-button {
  padding: 6px 12px;
}

.results {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  align-items: center;
}

.table {
  width: 70%; 
  border-collapse: collapse;
  border-color: #ccc;
  text-align: center;
}

.table-header {
  border: 1px solid #ccc;
  padding: 8px;
}

.header-name {
  width: 20vw;
}

.header-time {
  width: 20vw;
}

.results-td {
  padding: 8px;
  border: 1px solid #ccc;
}

.selected-branch {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.1s ease-in-out;
}

.selected-branch:hover {
  color: #3d8d40;
  transition: 0.1s ease-in-out;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-window {
  background: #fff;
  padding: 24px;
  border-radius: 5px;
  width: 50%;
  max-height: 90vh;
  box-shadow: 0 2px 16px rgba(0,0,0,0.2);
  position: relative;
  overflow-y: auto;
}